@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-track {
  background: #f1f1f185;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 3, 56, 0.829);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #0a0120;
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  text-transform: capitalize;
  position: relative;
  box-sizing: border-box;
}

/* container Starts */
.container {
  width: 95%;
  margin: 0 auto;
}
/* container ends */

/* Logo Start */

.logo {
  border: rgb(255, 255, 255) solid 1px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
  font-weight: 1000;
  padding: 0em 1em;
  margin-top: 1em;
}
/* Logo ends */

/* nav bar starts */
header {
  width: 100%;
  height: 100vh;
}
.toaster {
  width: 55%;
  font-weight: 600;
}

nav {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1.2em;
}
.ant-modal-content,
.ant-modal-header {
  background-color: rgb(0, 3, 56);
  color: white;
}
.ant-modal-title {
  color: white;
}
.ant-modal-footer {
  display: none;
}
.ant-modal-body {
  height: 65vh;
}
.warning {
  color: red;
  font-size: 1.1rem;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;

  cursor: pointer;
}

header nav ul li {
  text-decoration: none;
  color: aliceblue;
  font-size: 1em;
  font-weight: 400;
}

header nav ul li a:hover {
  color: rgb(0, 132, 255);
}

.search-flex {
  margin-top: 5em;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1em;
}
.search-flex label {
  font-size: 1.5rem;
}
.search-input {
  width: 100% !important;
}

input[type="text"],
input[type="password"] {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
  border-radius: 1.5em;
  height: 3em;
  width: 20em;
  padding-left: 1em;
  transition: background-color 2s;
}
.h-title-login {
  color: white;
  margin-bottom: 2em;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.login-label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 500;
}
.login-header {
  display: flex;
  gap: 0.5em;
}

.login-label input {
  padding-left: 1em;
}
.button-login {
  color: rgb(255, 255, 255);
  background-color: #021b8a;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3em;
}
.login-button-group {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: 2em;
}
.ant-modal-close {
  color: white;
}
.search-flex button {
  margin-right: -2.9em;
  cursor: pointer;
  background-color: #ffffff00;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0);
  margin-right: -4em;
}

input[type="text"]:hover {
  background-color: #ffffff;
  color: black;
}
.search-results-ex {
  width: 100%;
  background-color: #030057;
  border-radius: 10px;
  height: 100vh;
  overflow: auto;
  margin-top: 0.5em;
}
.result-design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 1em;
  gap: 1em;
  cursor: pointer;
}
/* .search-results-tiltle {
  font-size: 1rem;
} */
.search-results-container {
  width: 100%;
  display: flex;
  gap: 1em;
}
.search-results-container img {
  border-radius: 10px;

  width: 50px;
  object-fit: cover;
}
.title-result {
  font-size: 1rem;
  font-weight: 600;
}

/* navbar ends */
/* header carousel starts */

.swiper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.swiper::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(11, 3, 54, 0.952),
    rgba(1, 23, 70, 0.514),
    rgba(0, 0, 0, 0.062),
    rgba(0, 0, 0, 0.062),
    rgba(0, 0, 0, 0.062),
    rgba(0, 0, 0, 0.062),
    rgba(10, 1, 32, 0.664)
  );
  z-index: 2;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.nav-text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  bottom: 0em;
  left: 0em;
  width: 100%;
  height: 25vh;

  background: linear-gradient(
    rgba(11, 3, 58, 0),
    rgba(10, 1, 32, 0.678),
    rgb(10, 1, 32)
  );
}

.nav-text-box h1 {
  color: #ffffff;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 5px 5px 6px #000000;
  margin-bottom: 0;
}

.nav-text-box ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  padding-left: 0;
}

.nav-text-box ul li {
  text-shadow: 5px 5px 6px #000000;
  font-size: 1rem;
  font-weight: 600;
}

.nav-text-box ul li:first-child {
  background-color: #a17bff;
  padding: 0.1em 0.3em;
  border-radius: 0.5em;
}
.nav-text-box ul li:nth-child(2) i {
  color: yellow;
}

.button-header {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}
.button-header button {
  background-color: rgba(73, 85, 253, 0);
  width: 11em;
  border: 2px solid blue;
  border-radius: 20px;
}

.button-header button i {
  margin-right: 0.5em;
  font-size: 1rem;
  color: red;
}
.p-header {
  width: 70%;
  font-weight: 500;
}

/* header carousel ends */
/* main section starts */
.flex-container-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  gap: 0.5em;
}

.flex-container-title h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1em;
  color: #ffffff;
}

.flex-container-title span {
  color: blue;
  font-size: 1rem;

  cursor: pointer;
}
.flex-container-title span i {
  margin-left: 0.5em;
}
/* Section title movies ends  */

/* Sections movies and tv-shows style start  */
.container-movies {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.flex-movies-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  margin-top: 1.5em;
  width: 16%;
  height: 64vh;
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: transform 1s;
}

.flex-movies-container:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.5s;
  background-color: #11053d;
  z-index: 1;
  border: white solid 1px;
}

.img-card {
  position: relative;
  border-radius: 5px;
  height: 50vh;
  object-fit: cover;
  width: 100%;
}

.quality {
  position: absolute;
  color: #ffffff;
  right: 1em;
  top: 0.5em;
  padding: 0.1em 0.4em;
  font-size: 1rem;
  font-weight: 600;
  border: #ffffff solid 1px;
  background-color: #050000;
  border-radius: 3px;
}

.nav-link {
  color: white;
}
.nav-link i {
  color: yellow;
}
.nav-link-mobile {
  color: white;
}
.mag {
  display: inline;
  margin-right: 2em;
}
.flex-mag {
  display: flex;
  gap: 1.5em;
  padding-top: 0em;
}
.flex-card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.1em;
  color: white;
}

.flex-card-box p {
  font-weight: 600;
  margin-top: 0.3em;
}

.flex-card-box-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8em;
}
.flex-card-box-details span {
  font-weight: 100;
  font-size: 0.9rem;
  opacity: 0.5;
}

.flex-card-box-details i:first-child {
  font-size: 0.2rem;
  opacity: 0.5;
  padding: 0em 2em;
}
.flex-card-box-details i:last-child {
  font-size: 0.6rem;
  margin-right: 0.2em;
}
.flex-card-box-details span:last-child {
  font-size: 0.6em;
  font-weight: 500;

  border: white solid 1px;
  padding: 0.2em 0.2em;
  border-radius: 3px;
}

.flex-card-box-details span:first-child {
  font-size: 1rem;
  font-weight: 500;
}
/* All movies starts */
.pagination-content {
  width: 100%;
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

.pagination-content .ant-pagination li {
  background-color: #021b8a5b;
  border: 1px solid #002fff;
}
.ant-pagination-item a {
  color: #002fff;
}
.ant-pagination-item-active a {
  color: rgb(255, 255, 255);
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link,
.ant-select-selector {
  background-color: #021b8a5b !important;
  border: 1px solid #002fff !important;
  color: white;
}
.anticon {
  color: white !important;
}

/* All movies ends */

/* Section movies and tv-shows end  */

/* Section tv-shows title starts  */
.flex-container-tv {
  display: flex;
  width: 100%;
  margin-top: 10em;
  justify-content: space-between;
  align-items: center;
}

.flex-container-tv h2 {
  width: 50%;
  font-size: 2rem;
  font-weight: 100;
  margin-right: 1em;
  color: white;
}

.flex-container-tv span {
  color: blue;
  cursor: pointer;
}
.flex-container-tv i {
  margin-left: 0.5em;
}
/* Section tv-show title ends  */

/* footer starts */
footer {
  background-color: #0e0131;
  width: 100%;
  height: 55vh;
  margin-top: 10em;
}
.footer-display {
  display: flex;
}
.footer-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
footer h3 {
  color: white;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 2em;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #ffffff7c;
}

footer p {
  line-height: 1.7em;
  color: #ffffff7e;
  font-weight: 200;
}

strong {
  font-weight: 600;
}
.icon-flex {
  display: flex;

  width: 70%;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
.icon-sort {
  display: flex;
  flex-direction: column;
}
.icon-display p {
  display: flex;
  align-items: center;
  color: #6200ff;
  gap: 1.2em;
  font-weight: 600;
}
.icon-display i {
  font-size: 1.1rem;
  border: 1px solid rgb(111, 111, 255);
  padding: 0.6em 0.6em;
  color: rgb(80, 80, 255);
  border-radius: 5px;
}
.router-footer {
  margin-top: 45em;
  background-color: #0e0131;
}
.router-footer h3 {
  color: white;
  margin-top: 2em;
}

/* footer ends  */

.single-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100vh;
  display: flex;
  gap: 2em;
  margin-top: 7em;
  top: 0;
}
.single-content {
  display: flex;
  gap: 1em;
}
.single-page img {
  border-radius: 10px;
  width: 200px;
  object-fit: cover;
}
.single-page h1 {
  font-size: 2rem;
  text-shadow: 5px 5px 20px white;
}

.single-page ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0em;
  gap: 2em;
}
.single-page ul li p {
  font-size: 0.9rem;
}
.genra {
  display: flex;
  gap: 0.4em;
  align-items: center;
}
.single-page ul li span {
  font-weight: 700;
}

.single-page ul li strong {
  font-size: 1.2rem;
  color: #3700fcad;
}

.login-button {
  cursor: pointer;
}
.iframe-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 1em;
}
.iframe-box iframe {
  width: 100%;
  height: 100vh;
}

/* Resposive starts  */

@media (min-width: 280px) {
  .logo {
    font-size: 0.8rem;
  }
  .screen-nav {
    display: none;
  }
  .screen-logo {
    display: none;
  }
  .mobile-nav {
    display: block;
  }

  header nav ul {
    display: none;
  }

  .swiper {
    height: 40vh;
  }
  .swiper::before {
    height: 70vh;
  }
  .swiper-slide img {
    height: 40vh;
  }
  .nav-text-box h1 {
    font-size: 1rem;
  }
  .nav-text-box {
    height: 15vh;
  }

  .nav-text-box ul li {
    font-size: 0.5rem;
  }
  .p-header {
    display: none;
  }

  .flex-movies-container {
    width: 49%;
  }
  .flex-container-title {
    margin-top: -27em;
  }
  .flex-container-title h2 {
    font-size: 1.5rem;
  }
  footer {
    height: 50vh;
  }
  .footer-container {
    width: 100%;
  }
  .icon-flex {
    width: 100%;
  }
}

@media (min-width: 360px) {
  .flex-container-title {
    margin-top: -28em;
  }
}
@media (min-width: 414px) {
  .flex-container-title {
    margin-top: -30em;
  }
}

@media (min-width: 768px) {
  .swiper {
    height: 60vh;
  }
  .nav-link-mobile {
    display: none;
  }
  .menu {
    display: none;
  }
  .mob-logo {
    display: none;
  }
  .screen-nav {
    display: block;
  }
  .swiper::before {
    height: 60vh;
  }
  .swiper-slide img {
    height: 60vh;
  }
  .nav-text-box h1 {
    font-size: 1.5rem;
  }
  .nav-text-box {
    height: 20vh;
  }

  .nav-text-box ul li {
    font-size: 1rem;
  }
  .p-header {
    display: none;
  }
  .flex-movies-container {
    width: 49%;
  }
  .flex-container-title {
    flex-direction: row;
    margin-top: -27em;
  }

  header nav ul {
    display: none;
  }
  .flex-nav-container {
    flex-direction: column;
    gap: 2em;
  }

  .flex-card-box p {
    font-size: 0.8rem;
  }
  .container-movies {
    justify-content: space-between;
  }
  .quality {
    font-size: 0.8rem;
  }
  .icon-flex {
    width: 40%;
  }
  footer {
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .swiper {
    height: 100vh;
  }
  .swiper::before {
    height: 100vh;
  }
  .swiper-slide img {
    height: 100vh;
  }
  .nav-text-box h1 {
    font-size: 2.5rem;
  }
  .nav-text-box {
    height: 30vh;
  }

  .nav-text-box ul li {
    font-size: 1rem;
  }
  .p-header {
    display: block;
    width: 45%;
  }
  .flex-movies-container {
    width: 18%;
  }
  .container-movies {
    justify-content: space-between;
    gap: 0.1em;
  }
  .flex-container-title {
    flex-direction: row;
    margin-top: 5em;
  }

  header nav ul {
    display: flex;
    gap: 2em;
    font-size: 1rem;
  }
  .flex-nav-container {
    flex-direction: column;
    gap: 2em;
  }
  .flex-card-box p {
    font-size: 1rem;
  }
  .quality {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .flex-movies-container {
    width: 16%;
  }
  .container-movies {
    justify-content: flex-start;
    gap: 0.6em;
  }
  .flex-card-box p {
    font-size: 1.2rem;
  }
}

/* Resposive ends  */
